@font-face {
    font-family: "poppins";
    src: url("fonts/poppins.ttf");
}
body {
    margin: 0;
    font-family: poppins;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    background-color: rgba(12, 75, 168, 0.877);
    color: #fff;
    padding: 10px 0 5px 10px;
    align-items: center;

}
header div {
    font-size: 22px;
}
header nav ul li{
    display: inline;
    list-style: none;
    padding-left: 30px;
    
}
header nav ul li a {
    color: #fff;
    font-size: 18px;
}
/*********************************************************************************************/
.profil {
    padding : 35px 0 35px 36%;
    display: flex;
}
.profil .titre_profil .profil_name{
    font-size: 23px;
    margin-left: 10px;
    font-weight: 600;
    margin-top: 20px;
}
.profil .titre_profil .metier {
    color: rgb(60, 88, 211);
    font-size: 18px;
    margin-top: 30px;
    font-weight: 600;
    
    
}
.profil .img_profil {
    border-radius: 50%;
    margin-left: 7em;
}
/***********************************************************************************************/
.presentation {
    background-color: rgba(12, 75, 168, 0.877) ;
    padding: 40px 0px 40px 25%;
    color: #fff;
    font-weight: 600;
}
.presentation .presentation_titre {
    font-size: 20px;
}
/**********************************************************************************************/

.experience {
   /* width: 50%;*/
    margin: auto;
    padding: 40px 25%;

}
.experience div {
    margin-bottom: 10px;
}
.experience .titre_experience {
    color:rgb(39, 76, 243);
    font-weight: 600;
    margin-bottom: 35px;
    font-size: 21px;
}
.experience .sous_titre_experience {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}
/*******************************************************************/
.formation{
    background-color: rgba(12, 75, 168, 0.877) ;
    padding: 40px 25%;
    color: #fff;
}
.formation .titre_formation {
    margin-bottom: 35px;
    font-size: 21px;
    font-weight: 600;

}
.formation .contenu_formation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
/**************************************************/
.passions {
    padding: 35px 25%;
}
.passions .titre_passions {
    color: rgb(39, 76, 243);
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 25px;
}
/*******************************************************************************************************/
footer {
    padding: 4em 3em;
    background-color: rgba(12, 75, 168, 0.877);
    color: #fff;
    text-decoration: underline;
}
footer .blog {
    display: flex;
    /*width: 40%;*/
}
footer .blog div {
    margin-right: 9em;
}
footer .blog div i {
    margin-right: 20px;
}
footer .logo {
    align-items: center;
}